* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

}

button:hover {
  background: #6c8cff;
}

button[data-destroy] {
  background: #ff4e4e;
  width: 120px;
}
button[data-destroy]:hover {
  background: #ff7070;
}

input {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: transparent;
  width: 360px;
  height: 40px;
}

input:hover,
input:focus {
  border-color: #000;
}

#name-input {
  margin: 16px 0 16px 0;
}

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
li.item {
  display: inline-block;
  width: fit-content;
  border-radius: 8px;
  padding: 16px;
  background: #f6f6fe;
}

li.item>ul>li {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
}

li.item>ul>li:not(:last-child) {
  margin-bottom: 8px;
}

img {
  width: 360px;
  height: 300px;
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style-type: none;
  padding: 0;
}

.login-form {
  margin-top: 16px;
}

.login-form>:not(:nth-last-child(2)) {
  margin-bottom: 8px;
}
.login-form>:not(:last-child) {
  margin-bottom: 16px;
}

.login-form>label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
}

.widget {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#controls {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 32px;
  background: #f6f6fe;
  width: fit-content;
}

#controls>input {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  text-align: center;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  column-gap: 44px;
  row-gap: 32px;
  padding: 32px;
  border-radius: 8px;
  background: #f6f6fe;
  width: fit-content;
}

